@import "../../SharedScss/variables";

.AddItemData {
  display: flex;
  flex-direction: column;
  .addItemForm {
    display: flex;
    flex-wrap: wrap;
    .formRow {
      width: calc(50% - 32px);
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &.fullWidth {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
        button {
          background-color: $clr-002;
          color: $clr-001 !important;
          border: 0;
          width: 150px;
          height: 34px;
          border-radius: 17px;
          font-size: 16px;
        }
      }
      &:nth-child(odd) {
        margin-right: 32px;
      }
      .formLabel {
        font-size: 20px;
        &.required {
          &::before {
            content: "*";
          }
        }
      }
      .formInput {
        height: 40px;
        border-radius: 5px;
        width: 100%;
        &.formTextarea {
          height: 100px;
        }
      }
    }
  }
  @media screen and(max-width: 768px) {
    .addItemForm {
      flex-direction: column;
      .formRow {
        width: 100%;
        &:nth-child(odd) {
          margin-right: 0;
        }
        &.fullWidth {
          button {
            background-color: $clr-002;
            color: $clr-001 !important;
            border: 0;
            width: 120px;
            height: 34px;
            border-radius: 17px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
