@import "../../SharedScss/variables";

.Home {
  background-color: #000033;
  .container {
    margin: $web-section-padding-top 0 $web-section-padding-bottom;
    .itemsContainer {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
