@import "../../SharedScss/variables";

.Home {
  background-color: $clr-001;
  color: $clr-002;
  .container {
    margin: $web-section-padding-top 0 $web-section-padding-bottom;
    box-sizing: border-box;
  }
  @media screen and(max-width: 1232px) {
    .container {
      padding: 0 $web-side-space;
    }
  }
}

.overlay {
  padding: 4rem;
}
.modal {
  // width: 100%;
  // height: 100%;
  max-width: 1200px;
  max-height: 600px;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  background-color: $clr-001 !important;
  color: $clr-002;
  > div {
    width: 100%;
    height: 100%;
    > button {
      top: -2rem;
      right: 0;
      svg {
        fill: white;
      }
      &:before {
        content: "Close";
        font-size: 0.8rem;
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        color: white;
      }
    }
  }
}
