@import "../../SharedScss/variables";

.Home {
  background-color: $clr-001;
  color: $clr-002;
  .container {
    margin: $web-section-padding-top 0 $web-section-padding-bottom;
    box-sizing: border-box;
  }
  @media screen and(max-width: 1232px) {
    .container {
      padding: 0 $web-side-space;
    }
  }
}

.modal {
  background-color: $clr-001 !important;
  color: $clr-002;
}
