@import "../../SharedScss/variables";

.MoviesList {
  display: flex;
  flex-direction: column;
  .moviesContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }
  .sectionFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    .askForMore {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 180px;
      background-color: $clr-white;
      color: $clr-black;
      padding: 0;
      border-radius: 20px;
      font-size: 16px;
      font-weight: bold;
      border: 0;
    }
    .theEnd {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      text-decoration: underline;
    }
  }
}
