.Header {
  background-color: #000033;
  box-shadow: 0 0 10px -6px white;
  position: relative;
  z-index: 3;
  .container {
    .headerRow {
      display: flex;
      justify-content: flex-start;
      height: 70px;
      .logo{
        width: 140px;
        margin-right: 16px;
      }
    }
  }
}
