@import "../../SharedScss/variables";
@import "../../SharedScss/functions";
.SectionHeader {
  display: flex;
  .title {
    font-size: 38px;
    font-weight: calcFontWeight($fontWeightSemiBold);
    margin: 0 0 30px;
    flex-grow: 1;
  }
  @media screen and(max-width: 640px) {
    .title {
      font-size: 28px;
    }
  }
}
